#notes-widget {
    text-align: center;
    margin: 0 auto;
    padding: 30px 100px;

    h3 {
        color: #fa8c16;
    }

    p {
        margin-bottom: 32px;
        white-space: pre-wrap;
    }
}
