@import './BrandCard.less';

#home-page-widget {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;

    .promote-image {
        width: 100%;
        height: 280px;
    }

    .content-container {
        margin: 20px auto;
        width: 90%;
        min-width: 1200px;
        max-width: 1440px;
        display: flex;
        flex-direction: column;

        .section-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            padding: 10px;

            h1 {
                margin-bottom: 0;
            }

            a {
                color: #fa8c16;
            }
        }
    }

    .cards-container {
        padding: 0;
        margin: 0;

        .card-wrapper {
            width: 20%;
            float: left;
            padding: 10px;
        }
    }

    .brand-card();
}
