@screen-min: 1280px;
@screen-max: 1920px;
@page-padding: 0 32px;
@page-margin: 0 auto;

* {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', 'MIcrosoft YaHei', sans-serif !important;
    height: 100%;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

a:active,
a:hover {
    outline-width: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

// .bodyWidthDisplay() {
//     @media screen and (max-width: @screen-min) {
//         min-width: @screen-min !important;
//     }
// }

.main-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

#pjax-container {
    height: 100%;
    overflow: auto;

    > .main-container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        overflow-y: auto;
        // .bodyWidthDisplay();
    }
}

.main-nav {
    height: 100%;

    > div {
        height: 100%;

        > div {
            height: 100%;
        }
    }
}

.main-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

.single-page-content {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    // width: 1280px;
    // margin: 0 auto;

    > div {
        height: 100%;

        > div {
            height: 100%;
        }
    }
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    outline: 0px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0;
    color: rgb(0, 155, 225);
}

.drawer-menu-item {
    padding: 12px 20px;
    border-bottom: #eaeaea 1px solid;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: #eeeeee;
    border-radius: 5.5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(171, 171, 171, 0.6);
    border-radius: 6px;
    border-style: dashed;
    border-color: transparent;
    border-width: 2px;
    position: absolute;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

::-webkit-scrollbar-corner {
    background: 0 0;
}

.ant-dropdown-menu {
    width: max-content;
    margin: 0 auto !important;
}